<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link text-light{% if 'list' == active %} active bg-dark{% endif %}" href="{{ path('dangling_indices') }}">{{ 'list'|trans }}</a>
    </li>
</ul>
