<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'list' == active %} active{% endif %}" href="{{ path('users') }}">{{ 'list'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link{% if 'create_user' == active %} active{% endif %}" href="{{ path('users_create') }}">{{ 'create_user'|trans }}</a>
    </li>
</ul>
