
###> symfony/framework-bundle ###
.env
config/secrets/prod/prod.decrypt.private.php
public/bundles
var
vendor
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
node_modules
public/build
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.dockerignore
.DS_Store
.env.test
.git
.github
.gitignore
.php_cs.cache
.symfony.insight.yaml
.travis.yml
bin/.phpunit
bin/phpunit
config/packages/dev
config/packages/test
config/routes/dev
Dockerfile
phpunit.xml.dist
screenshots
src/Command
src/DataFixtures
tests
update.sh
