language: php

php:
    - 8.2

services:
    - elasticsearch

before_install:
    - nvm install 20
    - curl -s -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.9.1-amd64.deb
    - sudo dpkg -i --force-confnew elasticsearch-8.9.1-amd64.deb
    - sudo sed -i.old 's/-Xms1g/-Xms128m/' /etc/elasticsearch/jvm.options
    - sudo sed -i.old 's/-Xmx1g/-Xmx128m/' /etc/elasticsearch/jvm.options
    - echo -e '-XX:+DisableExplicitGC\n-Djdk.io.permissionsUseCanonicalPath=true\n-Dlog4j.skipJansi=true\n-server\n' | sudo tee -a /etc/elasticsearch/jvm.options
    - sudo chown -R elasticsearch:elasticsearch /etc/default/elasticsearch
    - sudo systemctl restart elasticsearch

#ElasticSearch takes few seconds to start, to make sure it is available when the build script runs add a small delay to your build script:
before_script:
    - sleep 10

env:
    - ELASTICSEARCH_URL="http://127.0.0.1:9200"

install:
    - composer install
    - npm install
    - npm run build

script:
    - bin/console app:phpunit
    - bin/phpunit
