{% import 'Import/app_import.html.twig' as appImport %}
<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('shards_read', {'index': shard.index, 'shard': shard.number}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if is_granted('SHARD_MOVE', shard) %}
    {% endif %}

    {% if is_granted('SHARD_ALLOCATE', shard) %}
    {% endif %}

    {% if is_granted('SHARD_CANCEL', shard) %}
    {% endif %}
</ul>
