<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'list' == active %} active{% endif %}" href="{{ path('component_templates') }}">{{ 'list'|trans }}</a>
    </li>

    {% if is_granted('COMPONENT_TEMPLATES_CREATE', 'global') %}
        <li class="nav-item">
            <a class="nav-link{% if 'create_component_template' == active %} active{% endif %}" href="{{ path('component_templates_create') }}">{{ 'create_component_template'|trans }}</a>
        </li>
    {% endif %}
</ul>
