<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if 'list' == active %}active{% endif %}" href="{{ path('index_templates_legacy') }}">{{ 'list'|trans }}</a>
    </li>

    {% if is_granted('INDEX_TEMPLATES_LEGACY_CREATE', 'index_template_legacy') %}
        <li class="nav-item">
            <a class="nav-link {% if 'create_index_template_legacy' == active %}active{% endif %}" href="{{ path('index_templates_legacy_create') }}">{{ 'create_index_template_legacy'|trans }}</a>
        </li>
    {% endif %}
</ul>
