<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if 'list' == active %}active{% endif %}" href="{{ path('pipelines') }}">{{ 'list'|trans }}</a>
    </li>

    {% if is_granted('PIPELINES_CREATE', 'pipeline') %}
        <li class="nav-item">
            <a class="nav-link {% if 'create_pipeline' == active %}active{% endif %}" href="{{ path('pipelines_create') }}">{{ 'create_pipeline'|trans }}</a>
        </li>
    {% endif %}
</ul>
