<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link text-light{% if 'summary' == active %} active bg-dark{% endif %}" href="{{ path('license') }}">{{ 'summary'|trans }}</a>
    </li>
</ul>
