<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('users_read', {'user': user['user']}) }}">{{ 'summary'|trans }}</a>
    </li>
</ul>
