{% extends 'base.html.twig' %}

{% block head_title %}{{ 'error503.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">{{ 'error503.title'|trans }}</h1>
        <p class="lead">{{ message }}</p>
    </div>
{% endblock %}
