{% extends 'base.html.twig' %}

{% block head_title %}{{ 'error401.title'|trans }}{% endblock %}

{% block main_content %}
    <div class="{{ themeJumbotron }} ">
        <h1 class="display-4">{{ 'error401.title'|trans }}</h1>
        <p class="lead">{{ 'error401.note'|trans }}</p>
    </div>
{% endblock %}
