<td>
    {% block comment %}
    {% endblock %}
</td>
<td class="d-none d-xl-table-cell">
    {% block internal_link %}
    {% endblock %}
</td>
<td class="d-none d-xl-table-cell">
    {% block external_link %}
    {% endblock %}
</td>
