<div class="table-responsive">
    <table class="{% block table_class %}table table-{{ themeColor1 }} table-hover table-sm{% endblock %}">

    <thead>
    {% block thead %}
    {% endblock %}
    </thead>

    <tfoot>
    {% block tfoot %}
    {% endblock %}
    </tfoot>

    <tbody>
    {% block tbody %}
    {% endblock %}
    </tbody>

    </table>
</div>
