<div class="table-responsive">
    <table class="table {{ theme_table }}">

    <thead>
    {% block thead %}
    {% endblock %}
    </thead>

    <tfoot>
    {% block tfoot %}
    {% endblock %}
    </tfoot>

    <tbody>
    {% block tbody %}
    {% endblock %}
    </tbody>

    </table>
</div>
