<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('repositories_read', {'repository': repository['id']}) }}">{{ 'summary'|trans }}</a>
    </li>
</ul>
