<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link text-{{ themeColor2 }}{% if 'list' == active %} active bg-{{ themeColor1 }}{% endif %}" href="{{ path('index_graveyard') }}">{{ 'list'|trans }}</a>
    </li>
</ul>
