@import "~bootstrap/scss/bootstrap.scss";

@import "~select2/dist/css/select2.min.css";

@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";

#toast-container {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1500;
}

textarea.form-control {
    min-height: 300px;
}

.form-check-label {
    cursor: pointer;
}

p .form-check .form-check-input {
    float: none;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
}

.bg-masternode {
    background-color: $purple !important;
}

.bg-strongwarning {
    background-color: $orange !important;
}
