@import "~bootstrap/scss/bootstrap.scss";

@import "~select2/dist/css/select2.min.css";

@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";

#toast-container {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1500;
}

textarea.form-control {
    min-height: 300px;
}

.custom-control-label {
    cursor: pointer;
}
