{% embed 'table_embed.html.twig' %}
    {% import 'app_import.html.twig' as appImport %}

    {% set columns = {'alias': true, '_buttons': true} %}

    {% block thead %}
        <tr>
            {% for column, display in columns %}
                {% if true == display %}
                    {% if 'alias' == column %}
                        <th>
                            {{ 'alias'|trans }}
                        </th>
                    {% endif %}

                    {% if '_buttons' == column %}
                        <th>
                            &nbsp;
                        </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endblock %}

    {% block tbody %}
        {% for row in aliases.rows %}
            <tr>
                {% for column, display in columns %}
                    {% if true == display %}
                        {% if 'alias' == column %}
                            <td>
                                {{ row }}
                            </td>
                        {% endif %}

                        {% if '_buttons' == column %}
                            <td>
                                {{ appImport.buttonModal({
                                    'id': 'AliasDelete' ~ row,
                                    'title': 'delete'|trans,
                                    'body': row,
                                    'href': path('indices_aliases_delete', {'index': indice['index'], 'alias': row}),
                                }) }}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
