<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if 'list' == active %}active{% endif %}" href="{{ path('remote_clusters') }}">{{ 'list'|trans }}</a>
    </li>
</ul>
