{% extends 'base.html.twig' %}

{% block main_content %}
    {% embed 'card_embed.html.twig' %}
        {% import 'app_import.html.twig' as appImport %}
        {% block content %}
            <div class="row">
                {{ appImport.dashboardKpi('Cluster', content.cluster_name) }}
                {{ appImport.dashboardKpi('Status', content.status) }}
                {{ appImport.dashboardKpi('Nodes', content.number_of_nodes) }}
                {{ appImport.dashboardKpi('Documents', count[0].count) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
