<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link{% if 'summary' == active %} active{% endif %}" href="{{ path('roles_read', {'role': role['role']}) }}">{{ 'summary'|trans }}</a>
    </li>
</ul>
