<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if 'summary' == active %}active{% endif %}" href="{{ path('elasticsearch_roles_read', {'role': role.name}) }}">{{ 'summary'|trans }}</a>
    </li>

    {% if is_granted('ELASTICSEARCH_ROLE_UPDATE', role) %}
        <li class="nav-item">
            <a class="nav-link {% if 'update' == active %}active{% endif %}" href="{{ path('elasticsearch_roles_update', {'role': role.name}) }}">{{ 'update'|trans }}</a>
        </li>
    {% endif %}
</ul>
