<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if 'summary' == active %}active {{ theme_tab_active }}{% else %}{{ theme_tab }}{% endif %}" href="{{ path('enrich_read', {'name': policy.name}) }}">{{ 'summary'|trans }}</a>
    </li>
</ul>
