name: build

on:
    pull_request:
        branches: [ main ]

jobs:
    run:
        name: Elasticsearch

        runs-on: ubuntu-latest

        strategy:
            matrix:
                stack-version: ["6.8.15", "7.12.1", "8.0.0-SNAPSHOT"]

        steps:
            - uses: actions/checkout@v2

            - name: Configure sysctl limits
              run: |
                    sudo swapoff -a
                    sudo sysctl -w vm.swappiness=1
                    sudo sysctl -w fs.file-max=262144
                    sudo sysctl -w vm.max_map_count=262144

            - name: Runs Elasticsearch
              uses: elastic/elastic-github-actions/elasticsearch@master
              with:
                    stack-version: ${{ matrix.stack-version }}
                    port: 9200

            - name: Sleep for 20 seconds
              uses: jakejarvis/wait-action@master
              with:
                    time: '20s'

            - name: Setup PHP
              uses: nanasess/setup-php@master
              with:
                    php-version: 7.4
              env:
                    ELASTICSEARCH_URL: 127.0.0.1:9200

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Install dependencies
              run: composer install --optimize-autoloader --no-interaction --no-progress

            - name: Use Node.js
              uses: actions/setup-node@v1

            - run: npm install
            - run: npm run build

            - run: sudo chown -R $USER:$USER /home/runner/work/elasticsearch-admin/elasticsearch-admin
            - run: bin/console app:phpunit
            - run: bin/phpunit
